.App {

}
.content-contaner{
    margin:0 auto;
display: flex;
flex-wrap: 800px;
max-width: 80%;
}
.title-box{
    
    margin: 0 auto;
    width: 20%;
    padding: 1px 4px;
    border-radius: 12px;
    background-color: aliceblue;
}
h1{
    text-align: center;

}
